# Export main functions
export(glme.gev)
export(glme.gev11)
export(glme.like)
export(init.glme)
export(pargev.kfix)
export(MS_pk)
export(new_pf_norm)
export(pk.norm.stnary)
export(pk.beta.stnary)

# Shin et al. (2025b) compatibility functions
export(nsgev)
export(gado.prop_11)
export(quagev.NS)

# Shin et al. (2026) Model Averaging function
export(ma.gev)

# MAGEV Plotting functions
export(magev.ksensplot)
export(magev.qqplot)
export(magev.rlplot)

# Imports from lmomco
importFrom("lmomco", "lmoms", "pargev", "lmoms.cov", "vec2par", "lmomgev", "lmorph", "are.lmom.valid", "TLmoms", "lmomgum", "quagev", "pargum")

# Imports from stats
importFrom("stats", "optim", "rnorm", "runif", "integrate", "dnorm", "lm", "var", "cov", "median", "quantile", "cor", "spline", "qchisq", "na.omit")

# Imports from methods
importFrom("methods", "is")

# Imports from nleqslv
importFrom("nleqslv", "nleqslv")

# Imports from robustbase
importFrom("robustbase", "lmrob")

# Imports for MAGEV
importFrom("ismev", "gev.fit")
importFrom("Rsolnp", "solnp")
importFrom("zoo", "rollmean")
importFrom("graphics", "plot", "abline", "text", "par", "axis", "lines", "points")
